{% extends 'homepage.html' %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <div class="button-container">
        <p>{{ message }}</p>
          <a type="submit" href = "{% url 'add_user' %}" >Add user</a><br>
          <a type="submit" href = "{% url 'add_doctor' %}">Add doctor</a><br>
          <a href="{% url 'admin:index' %}">Go to administration</a>
          <a href="{% url 'admin_logout' %}">Logout</a>
      </div>
  </form>
{% endblock content %}