{% extends 'homepage.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script src="{% static 'scripts/jquery.min.js' %}" defer></script>
{% block content %}
    <style>
        .occupancy-panel {
            background-color: rgba(255, 182, 193, 0.5);
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
        }

        .occupancy-info {
            font-size: 20px;
            color: black;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <!-- Colonne gauche avec le menu -->
            <div class="col-md-2" style="background-color: rgba(83, 178, 221, 0.62); border-radius: 10px; background-image: linear-gradient(
                to top right,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2) 30%,
                rgba(0, 0, 0, 0)); height: 100vh;">
                <nav class="menu" tabindex="0">
                    <header class="avatar">
                        <img src="{% static "media/images/user-doctor-solid.svg" %}"/>
                        <h6>DOCTOR</h6>
                        <h2>{{ request.user.first_name }}</h2>
                    </header>
                    <ul>
                        <a style="color:white; text-decoration:none;font-size: 18px"
                           href="{% url 'doctor_workspace' %}"><span>Dashboard</span></a> <br>
                        <a style="color:white; text-decoration:none;font-size: 18px"
                           href="{% url 'add_patient' %}"><span>Add Patient</span></a><br>
                        <a style="color:white; text-decoration:none;font-size: 18px"
                           href="{% url 'patients' %}"><span>Patients</span></a><br>
                        <a style="color:white; text-decoration:none;font-size: 18px"
                           href="{% url 'my_operation' %}"><span>My Operation</span></a><br>
                        <a style="color:white; text-decoration:none;font-size: 18px"
                           href="{% url 'add_operation' %}"><span>Add Operation</span></a><br>
                        <a style="color:white; text-decoration:none;font-size: 18px"
                           href="{% url 'operating_room_booking' %}"><span>Operating Room Booking</span></a><br>
                        <a style="color:white; text-decoration:none; font-size: 18px"
                           href="{% url 'doctor_logout' %}"><span>Logout</span></a><br>
                    </ul>
                </nav>
            </div>

            <!-- Colonne du milieu avec le formulaire -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="occupancy-panel">
                            <h3 style="color: black;">Bed Occupancy</h3>
                            <div class="occupancy-info" style="color: black;">
                                {{ bed_occupied }}%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="occupancy-panel">
                            <h3 style="color: black;">Operating Room Occupancy</h3>
                            <div class="occupancy-info" style="color: black;">
                                {{ operating_room_occupied }}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
{#                        {% include 'patients.html' with patients_data=patients_data %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}