<!DOCTYPE html>
<html lang="en">
     {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style media="screen">
        body {

            margin: 0;
            padding: 0;
            height: 100vh;
            overflow: hidden;
            background-image: url("{% static 'media/images/2-1.jpeg' %}");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<div class="navbar">
        Welcome to your workspace
    </div>
{% block content %}
<div class="content">
    <button class="home_button", value="click_admin">
        <img src="{% static 'media/images/clipboard-user-solid.svg' %}" alt="admin" >
        <a class="home_button" href="{% url 'admin_login' %}" role="button">Admin login</a>
    </button>
    <button class="home_button", value="click_doctor">
        <img src="{% static 'media/images/user-doctor-solid.svg' %}" alt="doctor">
        <a class="home_button" href="{% url 'doctor_login' %}" role="button">Doctor login</a>
    </button>
    </div>
    {% endblock content %}
</body>
</html>