{% load static %}
body {
    color: #ffffff;
    font-size: 26px;
    font-family: serif, "Harlow Solid Italic"; ]
    background-color: #c8a2c7;
    text-align: center;
    line-height: 1.5;
    max-width: 100%;
    margin: 0 auto;
    /* margin: 80px;  Supprimer les marges par défaut du corps */
}


.navbar {
            background-color: rgba(83, 178, 221, 0.62);  /* Couleur taupe */
            padding: 15px;
            font-family: serif, "Harlow Solid Italic"; ]
            text-align: center;
            color: white;
            font-size: 24px;
        }

.content {
    background-size: cover;
    background-position: center;
    min-height: 100px; /* Hauteur minimale de la section du contenu à 100% de la hauteur de la vue (viewport) */
    padding-top: 150px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
    color: white; /* Couleur du texte sur l'image de fond */
}


.home_button {
    border: 0;
    line-height: 2.5;
    padding: 5px 20px;
    font-size: 1rem;
    width : 200px;
    height : 300px;
    max-width : 200px;
    max-height : 300px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(83, 178, 221, 0.62);
    background-image: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  /*width: 384px;*/
  /*height: 512px;*/
}

.home_button:hover {
  background-color: rgba(255, 255, 255, 1);

}

.home_button:active {
  box-shadow:
    inset -2px -2px 3px rgba(0, 0, 255, 1),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);

}

img {
    width : 100px;
    height : 200px;
    max-width : 100px;
    max-height : 200px;
}


form {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: serif, "Harlow Solid Italic"; ]
    width: 50%;
    max-width: 400px;
    margin: 0 auto; /* Pour centrer le formulaire horizontalement */
    padding: 20px; /* Ajouter de l'espace à l'intérieur du formulaire */
    box-sizing: border-box; /* Assure que la largeur inclut les rembourrages et les bordures */
    border: 10px solid rgba(255, 255, 255, 1); /* Bordure bleue semi-transparente */
    border-radius: 10px; /* Bords arrondis */
    text-align: center;
}

/* Style pour les champs de formulaire (par exemple, input, textarea) */
form input, form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Bordure pour les champs */
    border-radius: 5px; /* Bords arrondis pour les champs */
}

/* Style pour le bouton de soumission du formulaire */
form button {
    text-align: center;
    font-size: 18px;
    padding: 7px;
    background-color: rgba(83, 178, 221, 0.62);  /* Couleur taupe */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
}
form a{
    padding: 7px;
    background-color: rgba(83, 178, 221, 0.62);  /* Couleur taupe */
    color: white;
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    max-width: 100%;

}

.center-form {
    text-align: center;
}

.button-container {
    margin-top: 10px;
}

.button-container button {
    margin: 05px; /* ou une valeur appropriée pour l'espace entre les boutons */
}



